@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/minecraft-font/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/minecraft-font/MinecraftBold-nMK1.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/minecraft-font/MinecraftItalic-R8Mo.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./assets/fonts/minecraft-font/MinecraftBoldItalic-1y1e.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
